header .bg-gradient {
    background: rgb(170, 234, 245);
  }
  
  header .navbar {
    padding: 20px 0 0;
  }
  
  header .navbar-brand {
    padding: 0;
    z-index: 1;
    width: 213px;
    height: 109px;
    background-color: var(--primary-color);
  }
  
  header .navbar-brand img {
    width: 90px;
  }
  
  header h3 {
    font: normal normal 600 18px/27px Oswald;
    color: #fff;
  }
  
  header h4 {
    font: normal normal 600 18px/28px Oswald;
    letter-spacing: 0.36px;

    text-transform: uppercase;
  }
  
  header p {
    font: 600 12px/15px Poppins;
    letter-spacing: 0.24px;
  }
  

  /* Header Styles */
header .bg-gradient {
  background: rgb(216, 216, 216);
  width: 1542px;
}

body {
  background: url("../BG.png");
  background-size: cover;
}

header .navbar {
  padding: 20px 0 0;
}

header .navbar-brand {
  padding: 0;
  z-index: 1;
  width: 213px;
  height: 109px;
  background-color: var(--primary-color);
}

header .navbar-brand img {
  width: 980px;
  height: 148px;
}

img {
  max-width: 100%;
}

header h3 {
  font: normal normal 600 18px/27px Oswald;
  color: #fff;
}

header h4 {
  font: normal normal 600 18px/28px Oswald;
  letter-spacing: 0.36px;

  text-transform: uppercase;
  padding-right: 80px;
}

header p {
  font: 600 12px/15px Poppins;
  letter-spacing: 0.24px;

  padding-left: 60px;
}

.ReactTitle {
  background-color: #838383;
  height: 50px;
  width: 1330px;
  font: normal normal 600 19px/27px Oswald;
  letter-spacing: 0.38px;
  color: #ffffff;
  text-transform: uppercase;
}

.ReactTitle img {
  width: 25px;
  margin-right: 10px;
}

.link {

  font: normal normal medium 12px/15px Poppins;
  letter-spacing: 0.24px;
  height: 40px;
  padding: 10px 10px;
}

.link a {
  color: #055ba6;
}

/* src/Header.css */
.headerimgage {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%; /* Makes the image circular */
}

header .navbar-brand {
  height: 150px;
}

#descLength {
  text-align: right;
}

.header-logo {
  width: 100px;
  height: auto;
}

/* Other existing styles */
.d-flex {
  display: flex;
}

.bg-gradient {
  background-color: #629ae4;
}

.courseTitle {
  flex-grow: 1;
}

.ReactTitle img {
  width: 50px;
  height: 50px;
}

.ReactTitle h3 {
  margin: 0;
}

h4{
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/* src/Header.css */
.headerimgage {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%; /* Makes the image circular */
}

header .navbar-brand {
  height: 150px;
}

#descLength {
  text-align: right;
}

.header-logo {
  width: 100px;
  height: auto;
}

/* Other existing styles */
.d-flex {
  display: flex;
}

.bg-gradient {
  background-color: #629ae4;
}

.courseTitle {
  flex-grow: 1;
}

.ReactTitle img {
  width: 50px;
  height: 50px;
}

.ReactTitle h3 {
  margin: 0;
}

h4{
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
